{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Downloads Portal</title>
<link rel="stylesheet" type="text/css" href="{% static 'documents/styles.css' %}">
{% endblock %}

{% block content %}

<br>

<div class="container">


    <form class="form-search" method="get" action="{% url 'documents:search' %}">
        {% if error %}

        <div class="alert alert-dismissible alert-danger col-lg-11">
            <strong>Error!</strong> You forgot to add a search term.
        </div>

        {% endif %}
        <div class="form-row">
            <div class="col-lg-8">
                <input class="form-control" name="q" placeholder="Search" type="text">
            </div>
            <div class="col-lg-2">
                <select class="custom-select" name="f">
                    <option selected="">Filter</option>
                    <option value="name">Name</option>
                    <option value="tags">Tags</option>
                    <option value="content">Content</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-default" type="submit" name="button">Search</button>
            </div>
        </div>
    </form>
</div>


<br>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Source</th>
        <th>Tags</th>
        <th>Captured on</th>
        <th>Actions</th>
    </tr>
    {% if documents %}
    {% for document in documents %}
    <tr>
        <td> {{ document.name }}</td>
        <td> {{ document.url }}</td>
        <td> {{ document.tags.all|join:", " }}</td>
        <td> {{ document.timestamp}}</td>
        <td style="white-space: nowrap">
            <a class="btn btn-primary" href="{% url 'documents:download_document' pk=document.id %}">
                Download
            </a>
            <a class="btn btn-danger" href="{% url 'documents:delete_document' pk=document.id %}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

    {% else %}
</table>
<p style="text-align: center;">No results to show</p>
{% endif %}


{% endblock %}