body{
    background-color: white;
}

li.list-group-item{
    list-style-type: none;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;

}

.meta-item {
    margin-right: 20px;
}

div.search-item__body {
    padding-bottom: 10px;
}
