{% extends 'base.html' %}


{% block head %}
<title>Edit Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <form class="form-signup" action="{% url 'accounts:edit_profile' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-row">

            <div class="col-lg-6">
                <h2>Personal information</h2>
                <div class="form-group row">
                    <div class="col">
                        <input id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control" placeholder="First Name"
                               type="text">
                    </div>
                    <div class="col">
                        <input id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control" placeholder="Last Name" type="text">
                    </div>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <input id="birth_date" name="birth_date" value="{{ user.profile.birth_date }}" class="form-control" placeholder="Date of birth"
                           type="date">
                    <small class="form-text text-muted">{{ user.profile.birth_date.help_text }}</small>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <input id="company" name="company" value="{{ user.profile.company }}" class="form-control" placeholder="Company" type="text">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <input id="job_title" name="job_title" value="{{ user.profile.job_title }}" class="form-control" placeholder="Job title" type="text">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <label for="image">Profile Picture</label>
                    <input id="image" name="image" value="{{ user.profile.image }}" type="file" class="form-control-file">
                    <small class="form-text text-muted">{{ user.profile.image.help_text }}</small>
                </div><!-- form-group// -->
            </div>

            <div class="col-lg-6">
                <h2>Credentials</h2>
                <div class="form-group">
                    <input id="email" name="email" value="{{ user.email }}" class="form-control" placeholder="Email address" type="email">
                </div> <!-- form-group// -->
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'accounts:view_profile' %}" name="cancel" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
