{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1 align="center">Welcome to the Financial Regulations Dictionary</h1>
    <br>
    <h3>What is the Financial Regulations Dictionary?</h3>
    <h5>Financial Regulations Dictionary (FRD) is a platform that aims to help compliance officers to
        better manage all the financial regulations that matter them in practical and efficient manner.
        The platform provides a set of tools that allow the user to monitor, capture and search through new regulatory
        updates.</h5>
    <ul>
        <li>
            <h5><b>Monitoring</b> new updates is provided through a News Feed feature which mirrors any
                newly released updates on a financial regulator's website</h5>
        </li>
        <li>
            <h5><b>Capturing</b> a regulatory update is achieved by using Python scripts that scrapes the regulatory
                update
                off of the financial regulator's website. A Python script is uniquely written for a number of supported
                financial regulators' websites</h5>
        </li>
        <li>
            <h5><b>Searching</b> through your personal dictionary of financial regulations could be based on some
                criteria such as titles, meta-tags or content.
                The user is, also, able to download these regulations in a HTML format for offline use</h5>
        </li>
    </ul>
    <br>

    <h3>Which financial regulators' websites are supported by FRD?</h3>
    <h5>Currently, the supported websites are:</h5>
    <ul>
        <li><h5><a href="https://www.fca.org.uk/news/search-results?np_category=warnings&start=1">Financial Conduct Authority (FCA) - Warnings</a></h5></li>
        <li><h5><a href="https://www.ecb.europa.eu/press/pr/date/2019/html/index.en.html">European Central Bank (ECB) - Press Releases</a></h5></li>
        <li><h5><a href="https://www.esma.europa.eu/press-news/esma-news">European Securities and Markets Authority (ESMA) - News</a></h5></li>
        <li><h5><a href="https://www.bankofengland.co.uk">Bank of England (BoE)</a></h5></li>
        <li><h5><a href="https://www.sec.gov/news/pressreleases">U.S. Securities and Exchange Commission (SEC) - Press Releases</a></h5></li>
        <li><h5><a href="http://www.finra.org">Financial Industry Regulatory Authority (FINRA)</a></h5></li>
    </ul>
    <br>

    <h3>How to capture a regulatory update that I am interested in?</h3>
    <h5>To capture an update from the News Feed, all you have to do is:</h5>
    <ol>
        <li>
            <h5>Click on the Scrape button below the update that you are interested in</h5>
        </li>
        <li>
            <h5>You will be redirected to the Scraper form and the URL field will be dynamically filled in with the update's URL.
                Input a name and relevant tags for the update and click on the Scrape button</h5>
        </li>
        <li>
            <h5>The captured update will be the first item in your Downloads Portal</h5>
        </li>

    </ol>


</div>
{% endblock %}